<footer class = "footer">
	<small>
		the <a href="https://google.com"> google </a>
	</br>
		the <a href="https://github.com/h4ppyr0gu3/"> official github site</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li> <a href="https://github.com/h4ppyr0gu3/"> News </a> </li>  
		</ul>
	</nav>
</footer>